#root .products-loader {
  text-align: center;
  min-height: 500px;
  padding-top: 200px; }

#root .sidebar-wrapper {
  border: 1px solid lightgray; }
  #root .sidebar-wrapper #sidebar .search-header {
    background: #a4a4a4;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 10px 15px;
    margin: 0; }
  #root .sidebar-wrapper #sidebar #collapse-diamond-shapes div {
    display: inline-block; }

#root #contentPart .results-para {
  text-align: center; }

#root #contentPart #productsListTbl a {
  color: #000; }
  #root #contentPart #productsListTbl a:hover {
    text-decoration: none; }

#root #contentPart #productsListTbl thead tr th {
  background-color: #a4a4a4;
  color: #fff; }
  #root #contentPart #productsListTbl thead tr th img {
    float: left; }

#root #contentPart #productsListTbl thead tr th.sort {
  cursor: pointer;
  text-align: center; }
  @media (max-width: 992px) {
    #root #contentPart #productsListTbl thead tr th.sort {
      padding-left: 15px; } }
  #root #contentPart #productsListTbl thead tr th.sort .arrow-img.up,
  #root #contentPart #productsListTbl thead tr th.sort .arrow-img.down {
    display: none; }

#root #contentPart #productsListTbl thead tr th.up-sort .arrow-img.up {
  display: inline-block; }

#root #contentPart #productsListTbl thead tr th.up-sort .arrow-img.down,
#root #contentPart #productsListTbl thead tr th.up-sort .arrow-img.both {
  display: none; }

#root #contentPart #productsListTbl thead tr th.down-sort .arrow-img.up,
#root #contentPart #productsListTbl thead tr th.down-sort .arrow-img.both {
  display: none; }

#root #contentPart #productsListTbl thead tr th.down-sort .arrow-img.down {
  display: inline-block; }

#root #contentPart #productsListTbl .plp-actions-column .btn-link {
  display: block;
  font-weight: bold !important; }

#root #contentPart #productPagination {
  float: right; }
