.disabled {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  pointer-events: none; }

@media (max-width: 767) {
  .hide-mobile {
    display: none; } }
