#root #header .btn-toolbar {
  margin: 15px; }
  #root #header .btn-toolbar .addCompleteList-basket {
    margin-right: 62px;
    display: none; }

#root .wrap {
  margin-top: 15px;
  margin-bottom: 15px; }
